body {
    font-family: Arial, sans-serif;
  }
  
  .item {
    margin-bottom: 10px;
  }
  
  .rating {
    display: inline-block;
  }
  
  .like, .dislike {
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: small;
  }
  
  .like {
    background-color: green;
    color: white;
  }
  
  .dislike {
    background-color: red;
    color: white;
  }
  